.jumbotext {
  position: absolute;
  top: 76px;
  right: 30px;
  font-size: 18px;
  font-family: lato;
  text-align: center;
}
.contact-icons {
  font-size: 28px;
    position: relative;
    top: -102px;
    float: right;
    margin-right: 89px;

}
a .fa {
color: #222;
}
span {
  font-size: 18px;
}
.about-page {
  margin-top: 70px;
}
.wrap {
  bottom: 23px;
    padding-top: -4px;
    font: 100 17px/1 Lato;
    position: fixed;
    background: white;
    width: 100%;
}

.nav {
  list-style: none;
  padding-top: 0;
}

.nav li {
  float: left; /*1*/
  padding-left: 65px;
}

.nav > li a {
  display: block; /*1*/
  padding: 12px 18px; /*2*/
  text-decoration: none; /*3*/
  color: #999; /*4*/
  border: 1px solid #eee;

  transition: all ease .5s;
  font-weight: bold;
}

/*
  fade out all links on ul hover
*/
.nav:hover > li a {
  opacity: .5;
  transition: all ease .5s;
}

/*
  override previous rule to highlight current link
*/
.nav > li:hover a {
  opacity: 1;
  color: black;
  border-color: #3D3D3D;

}
.jess-circle {
  /*padding-left: 45.5%;*/
  text-align: center;
}
h3 {
  font-size: 29px;
  font-family: Lato;
  text-align: center;
  padding-top: -4px;
  position: absolute;
  margin-left: 39%;
  margin-top: 1px;
}
.about p {
  font-size: 18px;
  font-family: Lato;
  text-align: center;
  padding: 10px 100px 10px 100px;
  line-height: 1.4;
}
.info {
  font-size: 13px;
  font-family: Lato;
  text-align: center;
  float: left;
  margin-left: 87px;
  margin-right: 40px;
  margin-top: 41px;
}
.info2 {
  font-size: 13px;
  font-family: Lato;
  text-align: center;
  float: right;
  margin-right: 153px;
  margin-top: 25px;
}
.madskillz {
  padding-bottom: 60px;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 82px 141px;
  background: white;
}
.flex-item {
  /*max-width: 580px;*/
  width: 125px;
  height: 125px;
  margin: 10px;
  text-align: center;
  margin-top: 63px;
}
.ruby-item {
  margin-top: 26px;
  margin-left: 8px;
  text-align: center;
  margin-top: 74px;
}
.html-item {
  margin-top: 16px;
  margin-top: 69px;
}
.flex-item img {
  width: 100%;
  margin: 0;
  padding:0;
  margin-top: 63px;
}
.experience {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: white;
}

.wyn, .gogo, .sss {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  font-size: 14px;
}
.experience p {
  display: inline-block;
  color: #757575;
  font-family: lato;
  line-height: 1.4;
  text-align: justify;
  display: block;
  padding: 5px 20px;
  padding: 12px;
  width: 76%;
}
